
/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
  padding-left: 0;
}

.icon {
  width: 20px;
  height: 20px;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

.blind{display:none;}

/* Typography */
h1 {
  font-size: 48px;
  font-weight:700;
  color: black;
  margin: 16px 0px;
}
h2 {
  font-size: 28px;
  font-weight: 500;
  color:  black;
  margin: 8px 0;
}
h3 {
  font-size: 18px;
  font-weight: 400;
  color:  black;
  margin: 8px 0;
}
p {
  font-size: 18px;
  font-weight:400;
  color:  black;
  margin: 4px 0;
}

#navbar {
  position:fixed;
  width:100%;
  display: flex;
  justify-content: space-between;
  background-color:transparent;
  align-items: center;
  color: white;
  padding: 16px;
  transition: all 300ms ease-in-out;
  z-index:1;
}

#navbar.navbar--dark{
  background-color:#fe918d;
  padding:8px;
}

.navbar__menu {
  display: flex;
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: 4px;
}

.navbar__menu__item.active {
  border: 1px solid white;
}

.navbar__menu__item:hover {
  background-color: #ff6863;
}

.navbar_toggle_btn{
  position:absolute;
  top:15px;
  right:32px;
  font-size: 24px;
  color: white;
  display:none;
}

/* Home */

#home {
  background: url("img/homebackground1.png") center/cover no-repeat;
  padding: 40px;
  padding-top: 120px;
  text-align: center;
}

.home__avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid #eeeeee;
}
.home__title{
  font-size: 35px;
}
.home__title,
.home__description {
  color: white;
}

.home__contact {
  color:  white;
  font-size:18px;
  font-weight: 700;
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid  white;
  border-radius: 4px;
}

/* section common */
.section {
  padding: 50px;
  text-align: center;
  margin: auto;
}

.section__container {
  max-width: 1200px;
  margin: auto;
}

/* About */
#about > p{
  line-height: 35px;
  font-size: 16px;
}

.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0px;
}

.major__icon {
  width: 170px;
  height: 170px;
  font-size: 70px;
  line-height: 170px;
  margin: auto;
  color: #73aace;
  border: 1px solid #73aace;
  border-radius: 50%;
  margin-bottom: 16px;
}

.major__icon i {
  transition: all 300ms ease;
}

.major__icon :hover {
  color: #fe918d;
  transform: rotate(-30deg) scale(1.1);
}

.major__title,
.major__description {
  color: 4d4d4d;
}

.major__description {
  font-size: 16px;
}

.job {
  display: flex;
  align-items: center;
}

.job__description {
  margin: 0 16px;
  text-align: left;
}

.jop__name,
.job__period {
  color: #7c7979;
}

.job__name {
  font-size: 16px;
}

.job__period {
  font-size: 14px;
}

#skills {
  background-color: #fff7d1;
}

.skillset {
  display: flex;
  background-color: #7c7979;
  color:#eeeeee;
  margin: 20px 0;
}

.skillset__title {
  color: white;
}

.skillset__left {
  flex-basis: 60%;
  background-color:  #4d4d4d;
  padding: 20px;
}

.skillset__right {
  flex-basis: 40%;
}

.tools {
  background-color:#7c7979;
}

.skill__description {
  display: flex;
  justify-content: space-between;
}

.skill__bar {
  width: 100%;
  height: 3px;
  background-color:#616161;
}

.skill__value {
  widows: 70%;
  height: 3px;
  background-color: #feb546;
}

.skill {
  margin-bottom: 32px;
}

.tools,
.etc {
  padding: 20px;
}

/* Work */

.work__category {
  margin: 40px;
}

.category__btn {
  border: 1px solid #bdbdbd;
  border-radius: 4px;
  font-size: 18px;
  padding: 8px 48px;
}

.category__btn.active,
.category__btn:hover {
  background-color:#fe918d;
  color:  white;
}

.category__btn.active .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 0;
}

.category__count {
  background-color: #feb546;
  border-radius: 50%;
  color:  white;
  width: 24px;
  height: 24px;
  display: inline-block;
  line-height: 24px;
  position: relative;
  top: -20px;
  left: 4px;
  opacity: 0;
  transition: 300ms ease-in;
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  position: relative;
  justify-content: center;
  width: 290px;
  height: 217px;
  margin: 2px;
  background-color: #eeeeee;
}

.project__img {
  max-width: 100%;
  max-height: 100%;
}

.project__description {
  position: absolute;
  background-color:black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translatey(10px);
  transition: all 300ms;
}

.project:hover .project__description {
  opacity: 0.8;
  transform: translatey(0px);
}
.project__description h3 {
  color: white;
}

.project__description h3:after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  width: 25px;
  height: 2px;
  margin-left: -13px;
  margin-top: 8px;
  background-color: #bdbdbd;
}

/* Testimonial */
#testimonials {
  background-color:#7c7979;
}

.textmonials {
  margin: 40px;
}

.testimonial {
  display: flex;
  margin: 32px 0;
}

.testimonial__avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.testimonial__avatar:nth-child(odd) {
  margin-right: 40px;
}

.testimonial__avatar:nth-child(even) {
  margin-left: 40px;
}

.testimonial__speech-bubble {
  padding: 18px;
  background-color:  white;
  border-radius: 4px;
}

.testimonial__speech-bubble p {
  color: #7c7979;
}

.testimonial__speech-bubble a {
  color:#fe918d;
}


/* contact */
#contact{background-color: #fe918d; text-align: center;}


.contact_title{ 
  padding:32px 0;
  margin:0;
}

.contact_links{
  font-size:48px;
  margin:24px 0;
  transition: all 300ms ease;
}

.contact_links i:hover{
  transform:scale(1.1);
  color:#fff7d1;
}

.contact_title,
.contact_email,
.contact_rights{color: white}

.contact_rights{
padding-bottom: 20px;
}

/* Scroll */
.arrow_up{
  position:fixed;
  bottom:50px; 
  right:50px;
  width:70px; 
  height:70px;
  font-size:50px;
  color: white;
  background-color: #fe918d;
  border-radius: 50%;
  opacity:0;
  transition: all 300ms ease-in;
  pointer-events: none;
}

.arrow_up i{
  position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);
}

.arrow_up.visible{
opacity: 1;
pointer-events: auto;
}

@media screen and (max-width:768px){

  .section__container {
    width: 290px;
    margin: auto;
  }

  .navbar_toggle_btn{
    display:block;
  }

  #navbar{
    flex-direction: column;
    align-items: flex-start;
    background-color: #fe918d;
  }

  #navbar.navbar--dark{
    padding:16px;
  }

  .navbar__menu{
    flex-direction: column;
    text-align: center;
    width:100%;
    display:none;
  }

  .navbar__menu.open{
  display:block;
  }


  .about__majors{
    flex-direction: column;
    margin-bottom:38px;
  }

  .major{
    margin-bottom:38px;
  }

  .skillset{
    flex-direction: column;
    display:block
  }

  .project{
    flex-grow:1;
  }

  .testimonial__avatar{
    width:80px;
    height:80px;
  }

  .pc{display: none;}
}